# Built-in; ship with vip-go-mu-plugins
/plugins/akismet/
/plugins/advanced-post-cache/
/plugins/cron-control/
/plugins/debug-bar/
/plugins/debug-bar-cron/
/plugins/gutenberg-ramp/
/plugins/jetpack/
/plugins/jetpack-force-2fa/
/plugins/lightweight-term-count-update/
/plugins/query-monitor/
/plugins/rewrite-rules-inspector/
/plugins/two-factor/
/plugins/vaultpress/
/plugins/wikimedia-wordpress-security-plugin

# Composer-managed themes & plugins: DO NOT INCLUDE THESE LINES in .deployignore file.
/themes/interconnection
/plugins/capability-manager-enhanced
/plugins/co-authors-plus
/plugins/events-calendar-pro
/plugins/events-virtual
/plugins/fieldmanager
/plugins/post-meta-inspector
/plugins/publishpress
/plugins/the-events-calendar-category-colors
/plugins/the-events-calendar-filterbar
/plugins/the-events-calendar
/plugins/wikipedia-preview
/plugins/wpdiscuz

# Files built in CI: DO NOT INCLUDE THESE LINES in .deployignore file.
/client-mu-plugins/diff-blocks/dist

# Composer (repo root only)
/vendor/

# Node Modules
/node_modules/
*/*/node_modules/

# Uploads directory
/uploads/

# Leftover core/plugin upgrade files
/upgrade/

# mu-plugins; these are managed at the platform-level
/mu-plugins/

# drop-ins; these are managed at the platform-level
/object-cache.php
/db.php

# Ignore temporary OS files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
